body 
{scrollbar-face-color: #ffffff; 
scrollbar-track-color: #eeeeee; 
scrollbar-arrow-color: #6699CC; 
scrollbar-3dlight-color: #cccccc; 
scrollbar-shadow-color: #ffffff; 
scrollbar-highlight-color: #ffffff; 
scrollbar-darkshadow-color: #858585;} 

td {
font-family: Arial;
font-size: .75em;
}

input
{font-family: Verdana;
font-size: 7.5pt;
color: black;}

textarea
{font-family: Verdana;
font-size: 7.5pt;
color: black;}

select
{font-family: Verdana;
font-size: 7.5pt;
color: black;}

.smalltext
{font-family: Arial;
font-size: 7.5pt;}

.nav {
font-family: Verdana; 
font-size: .60em;
}

.topdate
{font-family: Trebuchet MS;
font-size: 7.5pt;}

.faq {
font-family: Verdana;
font-size: 7.5pt;
}

.sitemap
{font-family: Verdana;
font-size: 7.5pt;
font-weight: bold;}

.copy
{font-family: Arial;
font-size: 7.5pt;
color: #575757;}

.printtitle
{font-family: Arial;
font-size: 12pt;}

.calendar
{font-family: Verdana;
font-size: 7.5pt;}

.calendardays
{font-family: Verdana;
font-size: 7.5pt;
color: White;}

.bigdate
{font-family: Arial;
font-size: 30pt;}

.button
{font-family: Verdana;
font-size: 8pt;
font-weight: bold;
BACKGROUND-COLOR: #EEEEEE; 
BORDER-BOTTOM: #AAAAAA 1px solid; 
BORDER-LEFT: #CCCCCC 1px solid; 
BORDER-RIGHT: #AAAAAA 1px solid; 
BORDER-TOP: #CCCCCC 1px solid; 
COLOR: #000000;}

.ttop
{BORDER-TOP: #000000 1px solid;
BORDER-LEFT: #000000 1px solid; 
COLOR: #000000;}

.tbot
{font-family: Arial;
font-size: 9pt;
BORDER-BOTTOM: #000000 1px solid;
BORDER-RIGHT: #000000 1px solid; 
COLOR: #000000;}

.ftop
{BORDER-TOP: #000000 1px solid; 
COLOR: #000000;}

.fbot
{font-family: Arial;
font-size: 9pt;
BORDER-LEFT: #000000 1px solid;
BORDER-BOTTOM: #000000 1px solid;
BORDER-RIGHT: #000000 1px solid; 
COLOR: #000000;}

.appview
{font-family: Arial;
font-size: 8pt;
BORDER-BOTTOM: #000000 1px solid;
BORDER-RIGHT: #000000 1px solid; 
COLOR: #000000;}